.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.App-UserWidget {
  width: 500px;
}

.star {
  float: right;
  margin: 5px 0px 0px 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
